            <div class="eyebrow wide">
                <ul class="yui3-g">
                    {{#list}}<li class="yui3-u"><a data-ylk="slk:{{ylk}}" class="{{class}}" href="{{url}}">{{val}}</a></li>{{/list}}
                </ul>
            </div>
