<form action="{{searchlink}}" class="searchbar yui3-skin-sam yui3-u" id="top_search">
    <a name="searhcBox" href="#searchBox" accesskey="s" class="guidetile" data-rapid_p="7">:::商品搜尋框</a>
    <fieldset>
        <legend class="vh" id="aria-legend">搜尋</legend>
        <label class="vh" for="topsearch_input">搜尋:</label>
        <div class="searchwrapper">
            <div class="searchwrapper-inner">
                <table><tbody><tr>
                                            <td class="srp-sbar-cat" id="yui_3_14_1_3_1415005396505_19">
                    <div class="cat-box" id="yui_3_14_1_3_1415005396505_23">
                        傢俱/床墊                                    <i class="uh-ico"></i>
                    </div>
                    <div class="total hide" id="yui_3_14_1_3_1415005396505_27">
                        <div class="all">
                            全部分類
                            <i class="uh-ico arrow_down"></i>
                            <i class="uh-ico arrow_up"></i>
                        </div>
                        <div class="cat-selector">
                            <div class="org">
                                傢俱/床墊                                        </div>
                        </div>
                    </div>
                </td>
                <td class="srp-sbar-ip">
                    <input type="text" placeholder="請輸入 商品 關鍵字" value="{{keyword}}" autocomplete="off" name="p" id="srp-ac-bar" data-rapid_p="8">
                </td>
                </tr></tbody></table>
            </div>
            <input type="submit" value="搜尋商品" class="yui3-u searchbtn" id="UHSearchProperty" data-rapid_p="9">
                                <input type="hidden" value="product" class="qt" name="qt" data-rapid_p="10">
            <input type="hidden" value="24230" autocomplete="off" class="cid" name="cid" data-rapid_p="11">
            <input type="hidden" value="2" autocomplete="off" class="clv" name="clv" data-rapid_p="12">
        </div>
    </fieldset>
</form>
